/* DingTalk Sans - github.io */
@font-face {
    font-family: "DingTalk Sans";
    font-style: normal;
    font-weight: 400;
    src: url("https://madmaxchow.github.io/openfonts/DingTalk-woff2/DingTalk-Sans.woff2");
    font-display: swap;
}

/* DingTalk JinBuTi - github.io*/
@font-face {
    font-family: "DingTalk JinBuTi";
    font-style: normal;
    font-weight: 400;
    src: url("https://madmaxchow.github.io/openfonts/DingTalk-woff2/DingTalk-JinBuTi.woff2");
    font-display: swap;
}
