/* Altinn-DIN - github.io */

/* regular */
@font-face {
    font-family: "Altinn-DIN";
    font-weight: normal;
    font-style: normal;
    src: url("https://madmaxchow.github.io/openfonts/Altinn-DIN-woff2/Altinn-DIN-Regular.woff2");
    font-display: swap;
}

/* bold */
@font-face {
    font-family: "Altinn-DIN";
    font-weight: bold;
    font-style: normal;
    src: url("https://madmaxchow.github.io/openfonts/Altinn-DIN-woff2/Altinn-DIN-Bold.woff2");
    font-display: swap;
}
