/* SmileySans - github.io*/
/* @font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique.woff2");
} */

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-02FF,U+1E00-1EFF,U+A720-A7FF,U+AB30-AB6F,U+FB00-FB4F;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-punct-symbol.woff2) format('woff2');
    unicode-range: U+2000-206F,U+2100-214F,U+2190-21FF,U+2200-22FF,U+25A0-25FF,U+2600-26FF,U+3000-303F,U+FF00-FFEF,U+F900-FAFF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-sc-common.woff2) format('woff2');
    unicode-range: U+4E00-62FF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-sc-extra.woff2) format('woff2');
    unicode-range: U+6300-77FF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-sc-rare.woff2) format('woff2');
    unicode-range: U+7800-8CFF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-sc-uncommon.woff2) format('woff2');
    unicode-range: U+8D00-9FFF,U+3400-4DBF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-tc-zhuyin.woff2) format('woff2');
    unicode-range: U+3100-312F,U+31A0-31BF,U+2F00-2FDF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-jp-kana.woff2) format('woff2');
    unicode-range: U+3040-309F,U+30A0-30FF,U+31F0-31FF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-kr-hangul.woff2) format('woff2');
    unicode-range: U+AC00-D7AF,U+1100-11FF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-cjk-extb-core.woff2) format('woff2');
    unicode-range: U+20000-21FFF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-cjk-extb-mid.woff2) format('woff2');
    unicode-range: U+22000-23FFF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-cjk-extb-rare.woff2) format('woff2');
    unicode-range: U+24000-25FFF;
}

@font-face {
    font-family: "Smiley Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://madmaxchow.github.io/openfonts/v/SmileySans/SmileySans-Oblique-cjk-extb-extreme.woff2) format('woff2');
    unicode-range: U+26000-2A6DF,U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+2CEB0-2EBEF,U+2F800-2FA1F;
}
