/* Altinn-DIN - pages.dev */
/* regular */
@font-face {
    font-family: "Altinn-DIN";
    font-style: normal;
    font-weight: 400;
    src: url("https://openfonts.pages.dev/Altinn-DIN-woff2/Altinn-DIN-Regular.woff2");
    font-display: swap;
}
/* bold */
@font-face {
    font-family: "Altinn-DIN";
    font-style: normal;
    font-weight: 700;
    src: url("https://openfonts.pages.dev/Altinn-DIN-woff2/Altinn-DIN-Bold.woff2");
    font-display: swap;
}
