/* Luxi Mono - pages.dev */
/* regular */
@font-face {
    font-family: "Luxi Mono";
    font-style: normal;
    font-weight: 400;
    src: url("https://openfonts.pages.dev/v/GoMono/GoMono-Regular.woff2");
    font-display: swap;
}
/* italic */
@font-face {
    font-family: "Luxi Mono";
    font-style: italic;
    font-weight: 400;
    src: url("https://openfonts.pages.dev/v/GoMono/GoMono-Italic-Regular.woff2");
    font-display: swap;
}
/* bold */
@font-face {
    font-family: "Luxi Mono";
    font-style: normal;
    font-weight: 700;
    src: url("https://openfonts.pages.dev/v/GoMono/GoMono-Bold.woff2");
    font-display: swap;
}
/* bold italic */
@font-face {
    font-family: "Luxi Mono";
    font-style: italic;
    font-weight: 700;
    src: url("https://openfonts.pages.dev/v/GoMono/GoMono-Italic-Bold.woff2");
    font-display: swap;
}
